// Copyright {{.CopyrightHolder}}
// SPDX-License-Identifier: {{.License}}

package provider

import (
	"context"
	"fmt"
	"net/http"

	"github.com/hashicorp/terraform-plugin-framework/path"
	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema/planmodifier"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema/stringplanmodifier"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/hashicorp/terraform-plugin-log/tflog"
)

// Ensure provider defined types fully satisfy framework interfaces.
var _ resource.Resource = &{{.ResourceNamePascal}}Resource{}
var _ resource.ResourceWithImportState = &{{.ResourceNamePascal}}Resource{}

func New{{.ResourceNamePascal}}Resource() resource.Resource {
	return &{{.ResourceNamePascal}}Resource{}
}

// {{.ResourceNamePascal}}Resource defines the resource implementation.
type {{.ResourceNamePascal}}Resource struct {
	client *http.Client
}

// {{.ResourceNamePascal}}ResourceModel describes the resource data model.
type {{.ResourceNamePascal}}ResourceModel struct {
{{- range .Fields}}
	{{.GoName}} {{.GoType}} `tfsdk:"{{.Name}}"`
{{- end}}
}

func (r *{{.ResourceNamePascal}}Resource) Metadata(ctx context.Context, req resource.MetadataRequest, resp *resource.MetadataResponse) {
	resp.TypeName = req.ProviderTypeName + "_{{.ResourceName}}"
}

func (r *{{.ResourceNamePascal}}Resource) Schema(ctx context.Context, req resource.SchemaRequest, resp *resource.SchemaResponse) {
	resp.Schema = schema.Schema{
		MarkdownDescription: "{{.ResourceDescription}}",

		Attributes: map[string]schema.Attribute{
{{- template "renderAttributes" .Fields}}
		},
	}
}

func (r *{{.ResourceNamePascal}}Resource) Configure(ctx context.Context, req resource.ConfigureRequest, resp *resource.ConfigureResponse) {
	if req.ProviderData == nil {
		return
	}

	client, ok := req.ProviderData.(*http.Client)
	if !ok {
		resp.Diagnostics.AddError(
			"Unexpected Resource Configure Type",
			fmt.Sprintf("Expected *http.Client, got: %T. Please report this issue to the provider developers.", req.ProviderData),
		)
		return
	}

	r.client = client
}

func (r *{{.ResourceNamePascal}}Resource) Create(ctx context.Context, req resource.CreateRequest, resp *resource.CreateResponse) {
	var data {{.ResourceNamePascal}}ResourceModel

	resp.Diagnostics.Append(req.Plan.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// TODO: implement API call
	// httpResp, err := r.client.Do(httpReq)
	// if err != nil {
	//     resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to create {{.ResourceName}}, got error: %s", err))
	//     return
	// }

	// TODO: replace with ID from API response
	data.Id = types.StringValue("placeholder-id")

	tflog.Trace(ctx, "created {{.ResourceName}} resource")
	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}

func (r *{{.ResourceNamePascal}}Resource) Read(ctx context.Context, req resource.ReadRequest, resp *resource.ReadResponse) {
	var data {{.ResourceNamePascal}}ResourceModel

	resp.Diagnostics.Append(req.State.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// TODO: implement API call
	// httpResp, err := r.client.Do(httpReq)
	// if err != nil {
	//     resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to read {{.ResourceName}}, got error: %s", err))
	//     return
	// }

	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}

func (r *{{.ResourceNamePascal}}Resource) Update(ctx context.Context, req resource.UpdateRequest, resp *resource.UpdateResponse) {
	var data {{.ResourceNamePascal}}ResourceModel

	resp.Diagnostics.Append(req.Plan.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// TODO: implement API call
	// httpResp, err := r.client.Do(httpReq)
	// if err != nil {
	//     resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to update {{.ResourceName}}, got error: %s", err))
	//     return
	// }

	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}

func (r *{{.ResourceNamePascal}}Resource) Delete(ctx context.Context, req resource.DeleteRequest, resp *resource.DeleteResponse) {
	var data {{.ResourceNamePascal}}ResourceModel

	resp.Diagnostics.Append(req.State.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {
		return
	}

	// TODO: implement API call
	// httpResp, err := r.client.Do(httpReq)
	// if err != nil {
	//     resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to delete {{.ResourceName}}, got error: %s", err))
	//     return
	// }
}

func (r *{{.ResourceNamePascal}}Resource) ImportState(ctx context.Context, req resource.ImportStateRequest, resp *resource.ImportStateResponse) {
	resource.ImportStatePassthroughID(ctx, path.Root("id"), req, resp)
}
{{define "renderAttributes"}}
{{- range .}}
{{- if eq .Name "id"}}
			"id": schema.StringAttribute{
				Computed:            true,
				MarkdownDescription: "{{.Description}}",
				PlanModifiers: []planmodifier.String{
					stringplanmodifier.UseStateForUnknown(),
				},
			},
{{- else if .Children}}
			"{{.Name}}": schema.SingleNestedAttribute{
				MarkdownDescription: "{{.Description}}",
				{{- if .Required}}
				Required:  true,
				{{- end}}
				{{- if .Optional}}
				Optional:  true,
				{{- end}}
				{{- if .Computed}}
				Computed:  true,
				{{- end}}
				Attributes: map[string]schema.Attribute{
{{- template "renderAttributes" .Children}}
				},
			},
{{- else if .ElemType}}
			"{{.Name}}": {{.TFType}}{
				MarkdownDescription: "{{.Description}}",
				{{- if .Required}}
				Required:  true,
				{{- end}}
				{{- if .Optional}}
				Optional:  true,
				{{- end}}
				{{- if .Computed}}
				Computed:  true,
				{{- end}}
				ElementType: {{.ElemType}},
			},
{{- else}}
			"{{.Name}}": {{.TFType}}{
				MarkdownDescription: "{{.Description}}",
				{{- if .Required}}
				Required:  true,
				{{- end}}
				{{- if .Optional}}
				Optional:  true,
				{{- end}}
				{{- if .Computed}}
				Computed:  true,
				{{- end}}
				{{- if .Sensitive}}
				Sensitive: true,
				{{- end}}
			},
{{- end}}
{{- end}}
{{- end}}
